<html>
	<head>
		<link rel="stylesheet" href="./railroad.css" type="text/css">
	</head>
	<body>
		<h1>Crontalk grammar railroad diagrams</h1>
		<ul>
		{{#each rules}}
			<li>
				<h2>{{{name}}}</h2>
				{{{rule}}}
			</li>
		{{/each}}
		</ul>
	</body>
</html>